:root {
    --primary: #495464;
    --secondary: #BBBFCA;
    --tertiary: #E8E8E8;
    --gray: #F4F4F2;
    --shadow: #A9A9A9;
    --topAndBottom: #8599AD;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: var(--topAndBottom);
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:40px 30px 40px 30px;
    margin:0px auto;
    background: var(--primary) ;
    color: floralwhite;
    box-shadow: 5px 5px 10px var(--topAndBottom);
    border-radius: 0px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    color: var(--tertiary);
}

p, Button {
    font-family: 'Roboto', sans-serif;
}

#mainBackground {
    background-color: var(--gray);
}

.contactDiv {
    background-color: white;
    margin: 15px;
    border-radius: 4px;
    display: inline-block;
    color: var(--primary);
    box-shadow: 5px 5px 10px var(--shadow);
    min-width: 230px;
}

.editButton {
    margin-right: 15px;
    margin-left: 20px;
}

#addButton {
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    box-shadow: 5px 5px 10px var(--shadow);
}

span {
    color: var(--secondary);
}

.numberInList {
    background-color: var(--primary);
    color: var(--gray);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.contactText {
    margin-left: 20px;
    margin-right: 20px;
}

.editButton, .deleteButton {
    margin-bottom: 20px;
}

.contactName {
    font-weight: bold;
    color: var(--primary);
    letter-spacing: 1px;
}

.generalText {
    font-size: 13px;
}

#homeBackground {
    margin-top: 15px;
    margin-bottom: 15px;
}