:root {
    --primary: #10375c; /* #16697A 2994b2 */
    --secondary: #BBBFCA; /* #BBBFCA */
    --tertiary: #f4f6ff; /* #E8E8E8 */
    --gray: #F4F4F2; /* #F2F2F2 */
    --shadow: #A9A9A9;
    --topAndBottom: #f3c623; /* #212121 ffb400 */
    --name: #127681; /* #DB6400 474744 */
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: var(--topAndBottom);
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    box-shadow: 0px -5px 10px var(--shadow);
}

.jumbotron {
    padding:40px 30px 40px 30px;
    margin:0px auto;
    background-color: var(--topAndBottom) ;
    color: floralwhite;
    box-shadow: 0px 5px 10px var(--shadow);
    border-radius: 0px;
}

@media only screen and (max-width: 576px) {
    .jumbotron {
        padding-left: 0px;
        padding-right: 0px;
    }
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    letter-spacing: 2px;
}

p, Button {
    font-family: 'Roboto', sans-serif;
}

#mainBackground {
    background-image: url(https://online-contact-book.herokuapp.com/assets/images/DialPhones.png);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

#mainTint {
    background-color: rgba(16, 55, 92, 0.1);
}

#homeBackground {
    padding-left: 65px;
}

.contactDiv {
    background-color: var(--tertiary);
    margin: 15px;
    border-radius: 4px;
    display: inline-block;
    color: var(--primary);
    box-shadow: 5px 5px 10px var(--shadow);
    min-width: 230px;
}

.editButton {
    margin-right: 15px;
    margin-left: 20px;
    color: var(--primary);
    border-color: var(--primary);
}

.editButton:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}

#addButton {
    margin-right: 25px;
    margin-bottom: 15px;
    background: transparent;
    border-color: white;
    float: right;
}

#addButton:hover {
    color: var(--topAndBottom);
    background-color: white;
}

span {
    color: var(--secondary);
}

.numberInList {
    background-color: var(--primary);
    color: var(--gray);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.contactText {
    margin-left: 20px;
    margin-right: 20px;
}

.editButton, .deleteButton {
    margin-bottom: 20px;
}

.contactName {
    font-weight: bold;
    color: var(--name);
    letter-spacing: 1px;
}

.generalText {
    font-size: 13px;
}

#homeBackground {
    margin-top: 15px;
}

.modal-header {
    background-color: var(--primary);
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    letter-spacing: 1px;
}

.modal-body {
    font-family: 'Roboto', sans-serif;
}

.modal-border {
    color: red;
}

.submitButton {
    background-color: white;
    color: var(--primary);
    border-color: var(--primary);
}

.submitButton:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}

#noContacts {
    margin-left: 15px;
    margin-top: 30px;
    font-size: 18px;
}

#errorText {
    margin-top: 10px;
}

#headerText, img {
    vertical-align: middle;
    display: inline-block;
}

img {
    width: 30px;
    margin-bottom: 5px;
    margin-right: 20px;
}

@media only screen and (max-width: 367px) {
    img {
        visibility: hidden;
    }

    #headerText {
        margin-left: 45px;
    }
}